<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Environment" value="QA" />
    <add key="QAUrl" value="https://demoqa.com/" />
    <add key="PreProdUrl" value="https://demoqa.com/" />
    <add key="ProdUrl" value="https://demoqa.com/" />
    <add key="Browser" value="Chrome" />
  </appSettings>
</configuration>